/* 레이아웃 작업시 초기화 작업하기 */
/* 1.블럭형식 태그 모두 선택 여백값 제거 */
*{
    margin: 0;
    padding: 0;
}
/* 2.이미지의 크기값을 부모객체 영역에 맞춤처리
=> 비율값 맞추기(cover 또는 contain) */
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* =>기본 이미지 가로세로 비율값 유지
    =>부모영역의 작은 쪽 크기에 맞춤처리가 됨
    =>크기값이 축소, 여백값이 발생 */
}
/* 3.a태그 삽입시 텍스트의 색상, 밑줄 없애기 */
a{
    color: #333;
    text-decoration: none;
    /* =>텍스트 밑줄 속성 */
}

/* wrap 영역의 스타일 */
.wrap{
    width: 1200px;
    height: 700px;
    background-color: lightsteelblue;
    margin: 0 auto;
}
/* out_box_1 영역의 스타일 */
.out_box_1{
    height: 100px;
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 200px;
    height: 40px;
    background-color: red;
}
.main_menu{
    width: 400px;
    height: 40px;
    background-color: fuchsia;
    margin-right: 20px;
    display: flex;
}
.top_menu{
    width: calc(100% / 4);
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}
.top_menu a{
    display: block;
}
.sub_menu{
    background-color: white;
    height: 0;
    overflow: hidden;
    transition-duration: 0.5s;
    font-size: 12px;
}
.top_menu:hover{
    background-color: black;
}
.top_menu:hover>a{
    color: white;
}
.main_menu:hover .sub_menu{
    height: 160px;
}
.sub_menu>a:hover{
    background-color: black;
    color: white;
}


/* out_box_2 영역의 스타일 */
.out_box_2{
    height: 300px;
    background-color: lightsalmon;
}
/* out_box_3 영역의 스타일 */
.out_box_3,.out_box_4{
    display: flex;
}
.out_box_3{
    height: 200px;
    background-color: lightgreen;
}
.con_box{
    width: calc(100% / 3);
    height: 100%;
    background-color: violet;
}
.con_box:nth-child(2){
    background-color: yellow;
}
/* out_box_4 영역의 스타일 */
.out_box_4{
    height: 100px;
    background-color: darkorange;
}
.in_foot{
    width: 200px;
    height: 100%;
    background-color: tomato;
}
.in_foot:nth-child(2){
    width: 800px;
    background-color: slateblue;
}
